<div class="hero">
<img src="colorsmiling.jpg" class="hero-img">

</div>


<div style="font-family: 'Tangerine', serif;">
  <span class="font-effect-fire-animation">
    <h1>Hello, this is our landing page</h1>
  </span>
</div>



<h2>A lot of effort for something terrible.</h2>
