<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&effect=fire-animation">
    <link rel="stylesheet" type="text/css" href="main.css">

  <title>teamelizabeth.codes</title>

  </head>
  <body>
    {{ yield }}
  </body>
</html>
